@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #292524;
  color: #fff;
}

ul {
  font-weight: 300;
  list-style-type: disc;
  padding-left: 1.25rem;
}

b {
  font-weight: 700 !important;
}
